# Ejercicio del Módulo 3

Ejercicio de preprocesamiento

### Ejercicio 3:

Importar csv 'cincinnati_employees.csv' aclarando que index_col=[0]​

Explorar el dataframe utilizando las funciones head(), tail() y describe()

Dropear las columnas: eeo_job_group, job_family, jobtitle, jobtitle_abbrv, deptname_abbrv​

Borrar las filas de la columna annual_rt que contengan valores nan. Asignar el resultado a un dataframe llamado empleados_limpio, usando el metodo .copy() al final de la sentencia.
Un ejemplo seria: df_limpio = df[sentencia usada para eliminar nans].copy()

Revisar con dtypes si las columnas de fechas son de tipo datetime. Si no lo son, convertirlas.

In [2]:
#Importar pandas

import pandas as pd

In [ ]:
#Importar csv y explorar el dataframe

In [ ]:
#Dropear columnas

In [ ]:
#Borrar filas de annual_rt con nans

In [ ]:
#Cambiar tipo de fecha si corresponde

### Ejercicio funciones de string

En el dataframe de empleados generar una columna para el correo electronico siguiendo estas condiciones:

a. Generar 2 columnas, nombre y apellido, usando operaciones de string.

b. Generar una columna de correos electronicos con la estructura nombre . apellido @ paygroup . cincinatti . gov

### Ejercicio email con apply

En el dataframe de empleados generar una columna para el correo electronico  nombre . apellido @ paygroup . cincinatti . gov  usando apply, creando una funcion llamada email_desde_nombre